/*** COLLECTION ***/

#collection-module .all-products a,
#collection-module .sidebar .tile-list li {
    display: block;
    height: 53px;
    width: 100%;
    line-height: 53px;
    color: black;

    padding: 2px 5px 2px 40px;

    -moz-box-sizing: padding-box;
    box-sizing: border-box;

    /* TODO: add collection icon in front */
}

#collection-module .content > div > div {
    border: 1px solid #d4d4d4;
    border-radius: 5px;

    background: white;
    height: 100%;
    position: relative;
}

#articleList {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
}

.browser #collection-module .all-products a:hover,
.browser #collection-module .sidebar .tile-list li:hover {
    background-color: #5aaf0b;
    background-color: rgba(87, 179, 54, 0.1);
}

#collection-module .sidebar .tile-list li.active {
    background-color: #5aaf0b;
    /* TODO: add gradient */
}
