/*** CREATE ***/

#create-module {
    position: relative;
}

#create-module .sidebar {
    overflow: hidden;
}

@media (max-width: 939px) {
    #create-module .sidebar {
        display: none;
    }

    #create-module .module-content {
        left: 0;
    }
}

@media (min-width: 1270px) {
    #create-module .sidebar {
        border: 1px solid red;
        right: 980px;
        left: 0;
        width: auto;
        position: absolute;
    }

    #create-module .module-content {
        left: auto;
        right: 0;
        width: 980px;
    }
}

#create-module .product-appearances {
    list-style: none;
    margin: 0;
}

#create-module .product-appearances li {
    float: left;
    margin: 3px;
    border: 2px solid white;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

#create-module .product-appearances li.active {
    border-color: #5AAF0B;
}

#create-module #designer {
    position: relative;
    text-align: right;
}

#create-module .product-view-selector {
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
    margin: 0;
}

#create-module #designer .product-viewer {
    display: inline-block;
}