html, body, .stage {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #EEEEEE;
}

a:hover {
    text-decoration: none;
}

.tile-list ul,
.data-grid ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#menu {
    position: absolute;
    width: 90px;
    height: 100%;
    background: #2c2c2d;
    overflow: hidden;
    text-align: center;
    color: #e7e7e7;
}

#content {
    position: absolute;
    left: 90px;
    right: 0;
    height: 100%;
}

#main {
    height: 100%;
}

/*** MENU ***/

#menu a {
    color: inherit;
}

#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu li {
    margin: 5px 0;
}

#menu li:hover,
#menu a:hover {
    /*** TODO: hover image instead setting color ***/
    color: #5aaf0b;
}

#menu .logo {
    display: block;
    height: 53px;
    line-height: 53px;
    outline: 1px solid #3b3b3b;
    border-bottom: 1px solid #1f1f1f;
}

#menu .top {
    position: absolute;
    top: 54px;
    bottom: 90px;
    width: 100%;
    overflow: auto;
}

#menu .top a {
    display: block;
    height: 70px;
    vertical-align: text-bottom;
    line-height: 100px;
}

#menu .bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: inherit;
}

#menu .profile .sprd-image {
    border: 3px solid #5aaf0b;
    border-radius: 3px;
    display: block !important;
    margin: 0 auto;
}

#menu .info a {
    display: block;
    height: 20px;
    /*** TODO: add info icon ***/
}

/*** MODULES ***/

.module {
    height: 100%;
}

.module .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.module .module-content,
.module .sidebar {
    min-height: 100%;
    position: relative;
}

.module .sidebar {
    display: none;
    width: 200px;
    border-right: 1px solid gray;
}

.module.sidebar .sidebar {
    display: block;
}

.module.sidebar .module-content {
    position: absolute;
    left: 200px;
    top: 0;
    right: 0;
}

.module .sidebar > .header,
.module .module-content > .header {
    height: 53px;
    border-bottom: 1px none;
}

.module .sidebar > .header {
    border-bottom: 1px solid #d4d4d4;
}

.module .module-content > .header > div,
.module .module-content > .content > div {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
    position: relative;
    height: 100%;
}

.module .header h1 {
    padding-left: 40px;
    /* TODO: add collection image */
    font-size: 20px;
    line-height: 30px;
    margin: 0;
}

.module .sidebar > .content,
.module .module-content > .content {
    position: absolute;
    top: 54px;
    width: 100%;
    bottom: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
