html, body, .stage {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #EDEDED;
}

#wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#content {
    position: absolute;

    right: 0;
    left: 100px;
    bottom: 0;
    right: 0;
    top: 0;
}

#menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    outline: 1px solid black;
    width: 100px;
    background-color: #2c2c2d;
    box-shadow: 0 0 10px black inset;
}

#menu ul {
    position: relative;

    height: 100%;
    color: white;

    list-style-type: none;
    margin: 0 auto;

    text-shadow: 1px 1px 2px black;
    font-weight: normal;
    width: 100px;
}

#menu .top {
    position: absolute;
    top: 0;
    bottom: 80px;
    width: 100%;
    overflow: auto;
}

#menu .bottom {
    position: absolute;
    bottom: 0;
    height: 80px;

    background-color: #2c2c2d;
}


#menu .top li {
    margin: 0 auto;
    text-align: center;
    height: 80px;
    list-style-type: none;
}

#menu a {
    color: #eeeeee;
}

#menu li.logo {
    height: 45px !important;
    background: url(../img/png.png) no-repeat top center;
    box-shadow: 0 1px 0 white;
}

#menu .top a {
    line-height: 10em;
    padding-top: 50px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 60px;
    height: 80px;
    width: 80px;
    margin: 10px;

}


.statistics a {
    height: 100px;
    width: 100px;
    background-image: url(../img/stat.png);

}

li.designs a {
    background-image: url(../img/stat.png);

}

li.create a {
    background-image: url(../img/crea.png);

}

.create2 a {
    background-image: url(../img/crea.png);

}

li.collections a {
    background-image: url(../img/coll.png);

}

.statistics a:hover {
    margin-top: -30px;
}

div#menu ul li.bottom {
    position: absolute;
    clear: both;
    bottom: 60px;
}

div#menu ul li.bottom ul {
    margin: 0 auto;
}

li.profile div {
    display: list-item !important;
    padding-bottom: 10px;
    margin: 0 auto;

}

.sprd-image img {

}

span.username {
    margin: 0 auto;
    text-align: center;
}

#footer {
    position: absolute;
    bottom: 0;
}

#main {
    box-sizing: border-box;
    margin: 0;
    padding: 10px 30px;
    height: 100%;
}

#main > div {
    position: relative;
    min-height: 100%;
}

div.toolbar.row-fluid {
    height: 45px;
}

/*.app {*/
/*position: absolute;*/
/*height: 100%;*/
/*width: 100%;*/
/*}*/

/*#container {*/
/*position: absolute;*/
/*width: 100%;*/
/*top: 45px;*/
/*bottom: 0;*/
/*}*/

/*#sidebar {*/
/*position: absolute;*/
/*left: 0;*/
/*height: 100%;*/
/*width: 15%;*/

/*background: #2d2e34;*/
/*color: white;*/
/*}*/

/*#sidebar > ul > li {*/
/*padding: 10px;*/
/*color: #555555;*/
/*}*/

/*#sidebar li {*/
/*padding: 2px 0;*/
/*}*/

/*#sidebar > ul > li > ul {*/
/*margin: 10px;*/
/*}*/

/*#sidebar li > a {*/
/*color: #e7e7e7;*/
/*display: block;*/
/*}*/

/*#sidebar i {*/
/*margin-right: 5px;*/
/*}*/

/*#content {*/
/*position: absolute;*/
/*left: 15%;*/
/*width: 85%;*/
/*height: 100%;*/
/*background: #eeeeee;*/
/*border-left: 1px solid black;*/
/*}*/

/*#main {*/
/*padding: 10px 30px;*/
/*position: absolute;*/
/*top: 0;*/
/*left: 0;*/
/*right: 0;*/
/*bottom: 43px;*/
/*overflow: auto;*/
/*box-sizing: border-box;*/
/*}*/

/*#footer {*/
/*position: absolute;*/
/*height: 43px;*/
/*bottom: 0;*/
/*overflow: hidden;*/
/*border-top: 1px solid black;*/
/*background: #545454;*/
/*}*/

/*#sidebar .badge {*/
/*background: #1b1c1f;*/
/*position: absolute;*/
/*right: 10px;*/
/*}*/

/** IMAGE UPLOAD **/
.image-upload {
    background: #2c2e34;
    padding: 10px;
    min-height: 80px;
    max-height: 200px;
    overflow: auto;
    position: relative;
    border-radius: 20px;
}

.image-upload .upload-notice {
    border-radius: 20px;
    text-align: center;
    color: #E7E7E7;
    font-size: 18px;
    line-height: 100px;
    position: absolute;
    width: 90%;
    left: 50%;
    margin-left: -45%;
}

.image-upload ul {
    margin: 0;
}

.image-upload li {
    float: left;
    margin: 10px;
    background: #F9F9F9;
    padding: 5px 100px 20px 5px;
    border-radius: 5px;
}

.image-upload .image-container {
    height: 122px;
    width: 122px;
}

.image-upload img {
    border-radius: 5px;
    border: 1px solid gray;
    vertical-align: middle;
    max-width: 120px;
    max-height: 120px;
    box-shadow: 1px 1px 2px #888;
}

/*.panel {*/
/*background: white;*/
/*padding: 10px;*/
/*border-radius: 10px;*/
/*box-sizing: border-box;*/
/*}*/

/*.row-fluid.panel + .row-fluid.panel {*/
/*margin-top: 30px;*/
/*}*/

/*#create .create .buttons {*/
/*text-align: right;*/
/*}*/

/*#create .create .buttons > * {*/
/*margin-left: 10px;*/
/*}*/

/*#create .tab-view {*/
/*margin-top: 30px;*/
/*}*/

/*.tab-view .nav-tabs {*/
/*margin: 0 10px;*/
/*}*/

/*.tab-view .tab-content {*/
/*background: white;*/
/*padding: 10px;*/
/*border-radius: 4px 4px 10px 10px;*/
/*}*/

.toolbar {
    margin-left: 10px;
}

.design-container {
    position: absolute;
    top: 180px;
    bottom: 0;
    right: 0;
    left: 10px;
}


.design-tile-list {
    overflow-x: scroll;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}



.design-tile {
    background: white;
    padding: 10px;
    border: 1px solid #ECECEC;
    position: relative;
}

.active .design-tile {
    background: #f5f5f5;
}

.design-tile-name {
    max-width: 120px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #666;
}

.design-tile-status {

}


/*creator*/
/*#creator {*/
/*margin: -10px -30px;*/
/*}*/

#motive {
    float: left;
    width: 200px;
    box-shadow: 0 0 10px inset;
    background-color: #2f4f4f;
}

/*.dropzone {*/
/*margin: 25px 20px 20px 20px;*/
/*color: white;*/
/*height:150px;*/
/*width:150px;*/
/*border: 3px dashed gray;*/
/*border-radius:10px;*/

/*}*/

/*p.big {*/
/*font-size: 8em;*/
/*line-height: .7em;*/
/*font-weight:bold;clear:both;}*/

/*.dropzone p {*/
/*text-align: center;*/
/*margin:10px;*/
/*}*/

/*div.mot_list.tile-list ul*/
/*{*/
/*height: 600px;*/
/*}*/

div.design-tile-list ul.scroll-container {
    list-style-type: none;
}

div.mot_list.tile-list ul.scroll-container {
    margin: 20px;
    list-style-type: none;
    height: 600px;
}

/*ul.cat_list {*/

/*}*/

/*li.mot_img, li.cat_img {*/
/*margin: 20px;*/
/*height: 150px;*/
/*width:150px;*/
/*border:1px solid gray;*/

/*}*/

/*li.cat_img  {*/
/*float:left;*/
/*}*/

/*div.mot_list.tile-list ul.scroll-container li {*/
/*padding: 20px 30px 20px 20px;*/
/*margin-left:-20px;*/
/*}*/

/*div.mot_list.tile-list ul.scroll-container li.active {*/
/*background-color:#EEE ;*/
/*}*/

/*div.mot_list.tile-list ul.scroll-container li img {*/
/*padding:10px 0px 20px 0px;*/
/*}*/

/*#horizontal_catslider{*/
/*float:right;*/
/*width:80%;*/
/*height:200px;*/
/*background: -moz-linear-gradient(left, #eeeeee 0%, #cccccc 50%, #eeeeee 100%); *//* FF3.6+ */
/*background: -webkit-gradient(linear, left top, right top, color-stop(0%,#eeeeee), color-stop(50%,#cccccc), color-stop(100%,#eeeeee));*/

/*}*/

.product-type-list {
    width: 800px;
}

.design-list {
    height: 600px;
}

#collectionList {
    position: absolute;
    top: 100px;
    width: 100%;
    bottom: 0;
}


ul.scroll-container {
    list-style: none;
    margin: 0;
    padding: 0;
}

#collectionList li {
    width: 100%;
    line-height: 50px;
}

.collection-item {
    height: 50px;
    line-height: 50px;
}

.collection-item a {
    display: block;
    line-height: inherit;
}

#collectionList li.active,
.collection-item.active {
    background-color: #f5f5f5;
}

.page-left {
    position: absolute;
    left: 0;
    width: 20%;
    min-width: 200px;
    bottom: 0;
    top: 0;
}

.page-right {
    position: absolute;
    width: 80%;
    bottom: 0;
    top: 0;
    right: 0;
}

#articleList {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
